html,body{margin:0;padding:0}


/* Content */
div#content {
    float: left;
    width: 75%;
    height: 100%;
    min-height: 320px;
}

/* Sidebar 1 */
div#sidebar1 {
    height: 200px;
    float: left;
    min-width: 23%;
    text-align: center;
}

.item-list li {
    list-style-image: none;
    list-style-type: none;
}
ul li.leaf {
    list-style-image: none;
    list-style-type: none;
}

/* Footer */
div#footer {
    background-color: silver;
    float: left;
    width: 100%;
    text-align: center;
}