html, body{margin:0;padding:0}
body{background-color:white}
/* Header */
div#header {
    margin-top:10px;
}

/* Main Menu */
div#block-system-main-menu{
	
}
div#block-system-main-menu h2 {
    display:none;
}
#block-system-main-menu .content {
    background-color:white;
}
#block-system-main-menu .content .menu{
	margin-left:200px;
}
ul.menu {
    display:inline-flex;
}
ul li.leaf {
    list-style-image:none;
    list-style-type:none;
}

/* Logo */
#logo img {
    max-width:120px;
}

/* Sidebar 1 */
div#sidebar1 {
    float:left;
	width:20%;
} 
/* User Login Area */
div#block-user-login h2 {
    display:none;
}
/* Content */
div#wrapper {
    padding:0 80px;
	min-height:760px;
}
div#content {
    float:left;
	background-color:white;
	width:80%;
}
/* Footer */
div#footer {
    float:left;
    margin-top:50px;
	height:100px;
	background-color:gray;
	text-align:center;
	width:100%;
}